Itanio.SessaoAoVivo.ServicosAplicacao/Service References/GravadorArquivoServices/GravadorArquivo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Itanio.SessaoAoVivo.WCF.ServicosWeb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Itanio.SessaoAoVivo.WCF.ServicosWeb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArquivoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Conteudo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArquivoDTO" nillable="true" type="tns:ArquivoDTO" />
</xs:schema>