Itanio.SessaoAoVivo.ServicosAplicacao/Service References/GravadorArquivoServices/GravadorArquivo1.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9986/GravadorArquivo.svc?xsd=xsd2"
             namespace="http://schemas.datacontract.org/2004/07/Itanio.SessaoAoVivo.WCF.ServicosWeb" />
  <xs:element name="Salvar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Itanio.SessaoAoVivo.WCF.ServicosWeb"
                    minOccurs="0" name="arquivo" nillable="true" type="q1:ArquivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObterResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>